.b-sign
  background url('../assets/images/bg-photo.jpg')
  width 100%
  height 100%
  display flex
  flex-flow row wrap
  position absolute
  background-size cover

.b-sign__content
  background-color #292c33
  height 100%
  flex-grow 2
  order 2

.b-sign-preview
  height 100%
  flex-grow 3
  display flex
  order 1

.b--page-align{
  margin auto
}
