.b-sign
  background url('../assets/images/bg-photo.jpg')
  width 100%
  height 100%
  display flex
  flex-flow row wrap
  position absolute
  background-size cover

.b-sign__content
  background-color #292c33
  height 100%
  flex-grow 1
  order 2
  display flex

.b-sign-preview
  height 100%
  flex-grow 5
  display flex
  order 1

.b--page-align{
  margin auto
  text-align center
}

.b-sign__header
  color #fff
  font-size 30px
  font-weight 500

.b-sign__img
  text-align center

.b-sign__text
  font-weight 500
  font-size 24px
  color #f6f6f6

.b-sign__form
  display flex
  flex-flow column wrap

.b-sign__input
  background inherit
  border-bottom 2px solid #bdbdbd
  width 340px
  color #f6f6f6
  font-size 15px
  border-left none
  border-top none
  border-right none
