.b-sign
  background url('../assets/images/bg-photo.jpg')
  width 100%
  height 100%
  display flex
  flex-flow row wrap
  position absolute
  background-size cover

  &__content
    background-color #292c33
    height 100%
    flex-grow 1
    order 2
    display flex

  &__header
    color #fff
    font-size 30px
    font-weight 500

  &__form
    display flex
    flex-flow column wrap

  &__input
    background inherit
    border-bottom 2px solid #bdbdbd
    width 340px
    color #f6f6f6
    font-size 15px
    border-left none
    border-top none
    border-right none

  &-preview
    height 100%
    flex-grow 5
    display flex
    order 1

  &__img
    text-align center

  &__text
    font-weight 500
    font-size 24px
    color #f6f6f6

.b--page-align{
  margin auto
  text-align center
}
